body {
	font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f9;
        color: #333;
}
.container {
        text-align: center;
}
h1 {
        font-size: 3rem;
        color: #4CAF50;
}
p {
        font-size: 1.2rem;
}
a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #4CAF50;
        color: #fff;
        border-radius: 5px;
        font-size: 1rem;
}
a:hover {
        background-color: #45a049;
}
